@import '_spacing.scss';
@import '_color.scss';

body {
  color: $text;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  letter-spacing: 1px;
}